form {
  width: 80%;
  margin: 0 0.5em;
  display: flex;
  align-items: center;

  input {
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    padding: 1em;
    width: 100%;

    &:focus {
      border: none;
      background-color: rgb(225, 225, 225);
    }

    &:hover {
      background-color: rgb(225, 225, 225);
    }
  }
}
