.imageCard {
  position: relative;
  margin: 0.5em 0;

  .displayImage {
    border-radius: 20px;
    display: block;
    width: 100%;
    filter: brightness(100%);

    &:hover {
      filter: brightness(60%);
    }

    &:hover ~ .downloadButton {
      display: block;
    }
  }

  .downloadButton {
    display: none;
    position: absolute;
    bottom: 2.5em;
    right: 1em;
    padding: 1em 0.5em;

    &:hover {
      display: block;
    }
  }
}
