.divAviso {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    background-color: #cce5ff;
    color: #0b498b;
  
    i {
      margin-right: 0.5em;
    }
  }